  <!-- Navbar Start -->
<div class="container-fluid nav-bar p-0">
    <div class="container-lg p-0">
        <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
            <a href="index.html" class="navbar-brand">
                <h3 class="m-0 text-white">BD GROUP</h3>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="content.html#/about" class="nav-item nav-link">About</a>
                    <a href="content.html#/services" class="nav-item nav-link">Services</a>
                    <a href="content.html#/pricing" class="nav-item nav-link">Pricing</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Downloads</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="#/seoflow" class="dropdown-item">Chrome SEO Flow</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a  class="nav-link dropdown-toggle" data-toggle="dropdown">Legal</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="privacy.html" class="dropdown-item">Privacy</a>
                     
                        </div>
                    </div>
                    <!-- https://tawk.to/chat/5db1f93178ab74187a5b66df/default -->
                    <a href="content.html#/contact" class="nav-item nav-link">Contact</a>
                    <a href="https://tawk.to/chat/5db1f93178ab74187a5b66df/default" class="nav-item nav-link">Support</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->